@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}

body
{
    overflow-x: hidden;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    min-width: 2080px;
}

footer
{
    font-family: 'Montserrat', sans-serif;
}

.nav-logo
{
    max-width: 300px;
    height: 150px;
    margin-left: 5.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.home
{
    background-image: url(img/home2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    height: 100vh;
}

.about
{
    background-image: url(img/about2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.our-work
{
    background-color: black;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.contact
{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-image: url(img/contactUs2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title
{
    text-align: center;
    font-size: 70%;
    margin-top: 3em;
}


h1
{
    color: orange;
    font-size: 72px;
}

.home h1
{
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 3em;
    font-size: 72px;
}

h3, h4, h5, h6, p
{
    color: white;
    font-size: 36px;
}

.home h3
{
    margin-left: 10em;
}

.home img
{
    margin-left: 5em;
    max-width: 10%;
    max-height: 10%;
    margin-top: 17em;
    margin-left: 24em;
}

.logo-title
{
    margin: 0;
    padding-top: 5em;
    padding-left: 2em;
}

.about
{
    height: 1080px;
}

.other-title
{
    text-align: center;
    padding: 0;
    padding-top: 1em;
    font-size: 4em;
    font-weight: 700;
}

.about img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    max-height: 30%;
    margin-top: 3em;
}

.our-work
{
    height: 1080px;
    left: -4px;
    top: 1080px;
    border-radius: 0px;
}

.about p
{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    position: absolute;
    width: 75%;
    height: 75%;
    left: 13%;
    margin: 0;
    margin-top: 3em;
}

.gallery
{
    margin: 10em;
    display: flex;
    padding: 0;
    padding-left: 15em;
    margin-top: 6em;
    margin-left: 30em;
}

.column 
{
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.contact
{
    margin: 0;
    height: 1080px;
    left: 0px;
    top: 3240px;
    border-radius: 0px;
}

input[type=text], select, textarea 
{
    width: 93%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid #000000 25%; 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    background-color: #C4C4C4;
    margin-left: 1em;
    margin-right: 1em;
     
}

::placeholder 
{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000 50%;;
    font-size: larger;
  }


.form-contact textarea
{
    margin-left: 1em;
}

  input[type=submit] 
  {
    background-color: #F6C214;
    color: black;
    padding: .7em;
    border: none;
    width: 10em;
    border-radius: 157px 157px 157px 157px;
    -moz-border-radius: 157px 157px 157px 157px;
    -webkit-border-radius: 157px 157px 157px 157px;
    border: 2px solid #000000 25%;
    cursor: pointer;
    font-weight: 700;
  }

  .form-contact 
  {
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 2px solid #000000 25%;
    background-color: #f2f2f2;
    padding: 20px;
    height: 30em;
    margin: auto;
    width: 35em;
    padding: 10px;
    margin-top: 3em;
  }

.submit
{
    margin: 0;
    -ms-transform: translateX(12em);
    transform: translateX(12em);
    padding-top: .5em;
}

  .palsu
  {
    background-color: black;
    height: 25.4vh;
    color: white;
    font-weight: 300;
    font-size: 24px;
    display: flex;
  }


.judul
{
    margin: 0;
    padding: 0;
    margin-left: 8%;
    padding-top: .7em;
    font-size: 70px;
    width: 10em;
    font-weight: 700;
}

.foot-left
{
    float: left;
    display: flex;
    margin: 0;
    margin-left: 15em;

}

.f-logo
{
    display: flex;
    width: 90em;
}

.f-logo img
{
    width: 7rem;
    height: 7rem;
}

.f-logo h1
{
    color:orange;
    font-weight: 500;
    padding-left: 0.4em;
    padding-top: 0.2em;
}

.foot-right
{
    float: right;
    margin: 0;
    padding-right: 8em;
    padding-top: 2em;
    padding-bottom: 3.25em;
}

.foot-right p
{
    margin: 0;
    padding: 0;
}

.foot-right img
{
    margin-top: 1em;
    padding-top: .7rem;
    width: 30rem;
}

.copyright
{
    text-align: center;
    position: absolute;
    color: white;
    background-color: black;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
}

.spacer
{
    width: 35rem;
}
  
.center
{
   top: 50%;
   left: 50%; 
 }

.parent
{
   position: relative;
}

.subtitle
{
    color: white;
    text-align: justify;
    padding-left: 4.6em;
    font-size: 2.5em;
    font-weight: 500;
}

.container-fluid
{
  padding-left: 0;
}
.bg-dark
{
  -webkit-filter: opacity(50%);
}
.navbar-dark .navbar-nav .nav-link 
{
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-nav .nav-link:hover 
{
  background: #000000 25%;
  width: 100%;
  height: 100%;
}
.last
{
  margin: 0;
  margin-right: 4em;
}

.spin {
    -webkit-animation: rotation 2s normal linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.nav-item
{
    font-size: 1.5em;
    font-weight: 600;
    width: 7em;
    letter-spacing: .5px;
}

.text-1
{
    padding-top: 1em;
    margin-top: 1em;
}

.mobile-container
{
    display: none;
}

.nav-link:hover,
.nav-link.is-active
{
    color: orange;
}

.active
{
    color: orange;
}

@media (max-width: 768px) {

    body{
        width: 100%;
        color: black;
    }
    
   .palsu
   {
       flex-direction: column;
       height: 100%;
       margin: 0;
       padding: 0;
   }
   .foot-left, .foot-right
   {
       margin: 0%;
       margin-right: 25em;
   }
   .foot-left
   {
       margin-left: 15%;
       margin-bottom: 1.5em;
       margin-top: 1.5em;
   }

   .form-contact
   {
       margin-right: 93em;
       padding-top: 1.5em;
       height: 30em;
       width: 22%;
   }

   .other-title
   {
       margin-right: 22em;
   }

   .form-contact textarea
    {
        margin-left: 1em;
    }

    .about p
    {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    position: absolute;
    width: 25%;
    height: 75%;
    left: 13%;
    margin: 0;
    margin-top: 3em;
    }
    .about img
    {
        margin-left: 23em;
        padding: 3em;
    }
    .pc-container
    {
        display: none;
    }

    .mobile-container 
    {
        display: flex;
    }
    .gallery
    {
        display: flex;
        flex-direction: column;
        width: 30em;
        margin-bottom: 0;
    }
    .our-work
    {
        height: 100%;
        width: 100%;
    }
    .pic-bot
    {
        padding-bottom: 1em;
        margin-bottom: 7em;
        width: 10px;
    }

    .form-contact
    {
        margin-left: 24em;
        margin-top: 3em;
    }
}