* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}

body
{
    overflow-x: hidden;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

a, h1, h2, h3, h4, h5, h6, p
{
    font-family: 'Raleway', sans-serif;
}

nav ul
{
    margin-top: 2px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 40%;
}

nav ul li a
{
    color: white;
    text-decoration: none;
    padding: 2px 0;
}

.intro
{
    padding: 100px;
    background-color: #343a40;
}

.intro img
{
    width: 200px;
    height: 200px;
    border-radius: 70%;
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.intro h1
{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.83);
    text-shadow: 2px 2px black;
}

.intro h3
{
    color: white;
    opacity: 60%;
    font-size: 1.5em;
    text-align: center;
}

.busy
{
    padding: 80px;
}

.heading
{
    width: 100%;
    text-align: center;
    color: black;
    margin-bottom: 5em;
}

.heading h2
{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.isi
{
    display: flex;
    justify-content: space-evenly;
}

.isiBox h3
{
    font-size: 24px;
    margin-bottom: 10px;
}

.isi-txt
{
    text-align: justify;
}

.isi img
{
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 70%;
    float: left;
    margin-right: 30px;
}

@media screen and (max-width: 600px) 
{
  .isi img
  {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
  }
}


footer
{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    padding-top: 30px;
}

footer p, h4
{
    color: #e9ecef;
    text-align: left;
    padding-left: 100px;
    line-height: 10px;
    font-size: 15px;
}

footer h4::first-letter
{
  font-size: larger;
}

#myBtn 
{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color:#343a40;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px;
    transition: 0.3s;
    font-weight: 1000;
}
  
#myBtn:hover 
{
   background-color: rgb(76, 76, 76); /* Add a dark-grey background on hover */
}

  .flip-card 
  {
    background-color: transparent;
    width: 300px;
    height: 200px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner 
  {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner 
  {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back 
  {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #686d76;
    color: white;
    transform: rotateY(180deg);
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column 
  {
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
.row 
{
    margin: 0 -5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
  
  /* Clear floats after the columns */
  .row:after 
  {
    content: "";
    display: table;
    clear: both;
    height: inherit;
  }
  
  /* Style the counter cards */
  .card 
  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  #projects
  {
    height: 530px;
    justify-content: space-around;
  }

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) 
  {
    .column
    {
      width: 100%;
      display: flex;
      margin-bottom: 100px;
    }
    #projects
    {
      height: 1100px;
    }
  }

  .link
  {
      color: black;
  }

  .skills,
  .skills .skill,
  .skills .skill .skill-title,
  .skills .skill .skill-bar {
     width: 100%;
     float: left;
  }
  
  .skills {
     padding:15px;
  }
  
  .skills .skill {
     margin-bottom: 30px;
  }
  
  .skills .skill .skill-title {
     color: #808080;
     margin-bottom: 10px;
     font-weight: 400;
     font-size: 18px;
  }
  
  .skills .skill .skill-bar {
     width: 0;
     height: 6px;
     background: #f0f0f0;
     transition: 1s cubic-bezier(1, 0, .5, 1);
     -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
     -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
  }
  
  .skills.active .skill .skill-bar {
     width: 100%;
  }
  
  .skills .skill .skill-bar span {
     float: left;
     width: 0%;
     background: #343a40;
     height: 6px;
     position: relative;
     transition: 1s cubic-bezier(1, 0, .5, 1);
     -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
     -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
  }
  
  .skillbars{
    width: 100%;
    max-width: 1000px;
    padding:0 15px;
    margin:0 auto;
  }


  .headingSkill
  {
      margin-top: 100px;
      text-align: center;
  }